/*.homeimg {
	background-image: url('img/pngportobw2.png');
	width: 100%;
	height: 100%;
}*/
body {
	/*background: #f8f9fa;*/
	/*background: red;*/
	overflow-x: hidden !important;
}
/*home jumbotron*/
.navhome li a{
	color: #212121 !important;
	font-weight: bold;
}
.navhomem {
	z-index: 999 !important;
}
.home {
	background: #ADB5BD;
}
.home .container .deskme h3 {
	font-size: 18px;
	margin-bottom: 20px;
	font-weight: bold;
}
.home .container .deskme h1 {
	line-height: 10px;
	font-weight: bolder;
}
.home .container .deskme p {
	font-weight: 400;
	margin-top: 40px !important;
}
.home .container .deskme .btncontact {
	background: #00A9A5 !important;
	border-radius: 30px;
	color: white;
	font-weight: bold;
}
.home .container .deskme .btncontact:hover {
	background: #0B5351 !important;
	border-radius: 30px;
	color: white;
	font-weight: bold;
}
.deskme {
	z-index: 3;
	margin-top: 35px;
}
@media (max-width: 414px) {
	.home {
		color: #212121;
	}
	.home .btncontact {
		text-shadow: none;
	}
}
@media (max-width: 767px) { 
	/*.homeimg img{
		width: 340px;
		transform: translateX(30%);
		bottom: 0 !important;
	}
	.homeimg {
		overflow: hidden !important;
		width: 400px;
		justify-content: flex-end;*/
		/*width: 50% !important;*/
	/*}*/
	.navhome {
		display: none;
	}
	.deskme {
		/*width: 100% !important;*/
	}
	.aboutimg img {
		width: 320px;
	}
	.about .col-lg-12 {
		text-align: center;
	}
	.imgdesk img {
		display: none;
	}
	.aboutimg {
		display: flex;
		justify-content: center;

	}
	.expertimg {
		display: none;
	}
}

/*expert in*/
.expert {
	margin-top: 100px;
	z-index: -10;
	margin-bottom: 100px !important;
	background: rgba(227, 245, 255, 1.0);/*expertcolorbg*/
	/*background: rgba(134, 187, 216, 1.0);*/
}
.experts {
	/*background: red;*/
	/*z-index: -9999 !important;*/

}
.expert #title {
	text-align: center;
	font-weight: bolder;
	font-size: 28px;
}
.expertin .d-flex .deskbung {
	background: white;
	border-radius: 10px;
	overflow: hidden;
	box-shadow: 0px 0px 3px #000;
	/*background: blue;*/
	z-index: 9;
}
.expertin .d-flex .deskbung .desk {
	/*margin: 0 !important;*/
	/*padding: 0;*/
	padding: 20px !important;
}
.expertin .d-flex .deskbung .desk i {
	/*transform: scale(2.4);*/
	font-size: 40px;
	margin-bottom: 10px;
}
.expertin .d-flex .deskbung .desk h2 {
	font-weight: bold;
	font-size: 22px;
}

/*aboutme*/
.aboutMe {
	margin-top: 100px !important;
	margin-bottom: 100px !important;
}
.about h2 {
	font-weight: bold;
	text-align: center;
}

/*dillus(design illustration)*/

.dillus .navbardillus {
	align-items: center;
}
.dillus .navbardillus .illus,.dillus .navbardillus .flat{
	align-items: center;
	margin-left: 20px;
}
.dillus .navbardillus .illus:hover,.dillus .navbardillus .flat:hover, .dillus .navbardillus .arrow:hover {
	cursor: pointer;	
}

.dillus .navbardillus .arrow i{
	font-size: 25px;
}
.dillus .navbardillus .flat.active {
	background: #00A9A5;
	border-radius: 30px;
	width: 120px;
	height: 35px;
	justify-content: center;
	display: flex;
	align-items: center;
	font-weight: bold;
	color: white;
}
.dillus .navbardillus .flat.active:hover {
	background: #0B5351;
	border-radius: 30px;
	width: 120px;
	height: 35px;
	justify-content: center;
	display: flex;
	align-items: center;
	font-weight: bold;
	color: white;
}

.flats .fas {
	font-size: 28px;
	margin-right:  20px;
	margin-left:  20px;
}

.hide {
	display: none !important;
}
.showbtn {
	display: flex !important;
	/*background: red;*/
}
.nav-item {
		color: #212121;
}
.workstext {
	font-weight: bold;
	text-align: center;
	font-size: 28px;
	margin-bottom: 17px;
}
.nav-item:hover {
	border-radius: 30px;
	font-weight: bold;
	color: #212121;
}
/*skill*/

@supports(-webkit-backdrop-filter: none) or (backdrop-filter: none) {
	.skilshow {
		-webkit-backdrop-filter:  blur(15px) !important;
		backdrop-filter: blur(15px) !important;
		background: rgba(0, 0, 0, .0);
		/*z-index: 9999;*/
	}
}
.bungeximg {
	height: 100% !important;
	right: 0;
	display: flex !important;
	background: salmon !important;
	width: 100%;
	/*position: absolute;*/
	/*z-index: 999;*/
}
.expertimg {
	width: 100%;
	right: 0 !important;
}
.onecard .skilshow.showskil {
	opacity: 0;
	/*transform: translateY(-100%);*/
	z-index: 1;
	transition: 1s;
	animation: test 2s forwards;
	/*background: red;*/
		display: inline-block !important;
}
@keyframes test {
	0% {
		transform: translateX(-100%);
		opacity: 0;
		display: none;
	}
	100% {
		opacity: 1;
		transform: translateX(0%);
	}
}
.onecard .skilshow.hideskil {
	opacity: 1;
	/*transform: translateY(-100%);*/
	z-index: 1;
	transition: 1s;
	animation: hides 2s forwards;
	/*background: red;*/
	display: inline-block;
}
@keyframes hides {
	0% {
		transform: translateX(0%);
		opacity: 1;
	}
	100% {
		transform: translateX(-100%);
		opacity: 0;
		/*display: none !important;*/
	}
}



.onecard .skilshow.showskilV {
	opacity: 1;
	/*transform: translateY(-100%);*/
	z-index: 1;
	transition: 1s;
	animation: testV 2s forwards;
	/*background: red;*/
}
@keyframes testV {
	0% {
		opacity: 0;
		transform: translateY(-100%);
		/*display: none;*/
	}
	100% {
		/*display: inline-block;*/
		opacity: 1;
		transform: translateY(0%);
	}
}
.onecard .skilshow.hideskilV {
	opacity: 1;
	/*transform: translateY(-100%);*/
	z-index: -1;
	transition: 1s;
	animation: hidesV 2s forwards;
	/*background: red;*/
}
@keyframes hidesV {
	0% {
		transform: translateY(0%);
		opacity: 1;
		display: inline-block;
	}
	100% {
		transform: translateY(-100%);
		opacity: 0;
		/*display: none !important;*/
	}
}
@media (min-width: 992px) {
	.onecard .skilshow {
		transition: 1s;
		opacity: 1;
		/*display: none;*/
		z-index: -1;
		/*background: red;*/
		transform: translateX(-100%);	
		width: 100%;
		/*animation: test1 2s forwards;*/
	}
	.onecard {
		display: flex !important;
		/*z-index: 2;*/
	}
}
@media (max-width: 992px) {
	.skilshow.dnonemd {
		display: none;
	}
	.onecard {
		/*display: inline-block;*/
	}
	.onecard .skilshow {
		transition: 1s;
		opacity: 1;
		/*display: none;*/
		z-index: -1;
		/*transform: translateX(-60%);*/
		/*animation: test1 2s forwards;*/
	}
	.bungshowskil{
		justify-content: center;
	}
}
@media (max-width: 767px) {
	.skilshow {
		width: 75%;
	}
}

.onecard .skilshow.shows {
	/*display: flex;*/
	transform: translateY(0%);
	z-index: -1;
	transition: 1s;
}
.onecard .skilshow .deskbung {
	border-radius: 0;
}
.onecard .skilshow .skill{
	width: 100%;
	padding: 4px;
	border-radius: 10px;
}
.onecard .skilshow .skill.html{
	width: 95%;
	background: #00A9A5;
}
.onecard .skilshow .skill.css{
	width: 85%;
	background: #00A9A5;
}
.onecard .skilshow .skill.js{
	width: 78%;
	background: #00A9A5;
}
.onecard .skilshow .skill.php{
	width: 87%;
	background: #00A9A5;
}
.onecard .skilshow .cons p{
	line-height: 1px !important;
}
.onecard .skilshow  .deskbung .containers {
	width: 100% !important;
}
.onecard .skilshow .cons {
	margin-bottom: 10px;
	line-height: 15px;
	margin-top: 20px !important;
}
.onecard .skilshow .cons .text{
	display: flex;
	font-weight: bold;
	justify-content: space-between;
}

nav span {
	display: none;
}
.btnstogs {
	/*display: none !important;*/
	/*z-index: 999;*/
}



/*footer*/
.footerport {
	width: 100%;
	min-height: 200px;
	background: #ADB5BD;
	margin-top: 170px;
	padding: 30px;
}
.footer .col-3 {
	margin-bottom: 20px;
}
.footerport .container div:nth-child(1) h2 {
	font-weight: bold;
	font-size: 37px;
}
.footerport .container div:nth-child(1) p {
	font-size: 18px;
}

.footerport .container div:nth-child(2) a {
	font-weight: 600;
	font-size: 17px;
	margin-right: 15px;
	color: #212121;
	text-decoration: none;
}
.footerport .container div:nth-child(2) a:hover {
	font-weight: 600;
	font-size: 17px;
	margin-right: 15px;
	color: #000;
	text-decoration: none;
}
.footerport .container div:nth-child(3) a  i{
	font-weight: 600;
	font-size: 22px;
	margin-right: 15px;
	color: #212121;
	text-decoration: none;
}
.footerport .container div:nth-child(3) a  i:hover{
	font-weight: 600;
	font-size: 22px;
	margin-right: 15px;
	color: #000;
	text-decoration: none;
}



/*showscroll*/
/*about*/
.about {
	opacity: 0;
}
.about.showabout {
	animation: showabout 1s forwards;
}
@keyframes showabout {
	0% {
		opacity: 0;
		transform: translateY(100%);
	}
	100% {
		opacity: 1;
		transform: translateY(0%);
	}
}

.aboutimg {
	opacity: 0;
}
.aboutimg.showaboutimg {
	animation: showaboutimg 1s forwards;
}
@keyframes showaboutimg {
	0% {
		opacity: 0;
		transform: translateY(100%);
	}
	100% {
		opacity: 1;
		transform: translateY(0%);
	}
}

.about.hideabout {
	animation: hideabout 1s forwards;
}
@keyframes hideabout {
	0% {
		opacity: 1;
		/*transform: translateY(0%);*/
	}
	100% {
		opacity: 0;
		/*transform: translateY(-100%);*/
	}
}

.aboutimg.hideaboutimg {
	animation: hideaboutimg 1s forwards;
}
@keyframes hideaboutimg {
	0% {
		opacity: 1;
		/*transform: translateY(0%);*/
	}
	100% {
		opacity: 0;
		/*transform: translateY(100%);*/
	}
}

/*about*/

/*mulai masalah*/

.textoc.showtextoc {
	animation: showtextoc 1s ;
}
@keyframes showtextoc {
	0% {
		opacity: 0;
		transform: translateY(100%);
	}
	100% {
		opacity: 1;
		transform: translateY(0%);
	}
}
.oc1.showoc1 {
	animation: showoc1 .5s ;
}
@keyframes showoc1 {
	0% {
		opacity: 0;
		transform: translateY(100%);
	}
	100% {
		opacity: 1;
		transform: translateY(0%);
	}
}


.oc2 {
	/*opacity: 0;*/
}
.oc2.showoc2 {
	animation: showoc2 1s ;
}
@keyframes showoc2 {
	0% {
		opacity: 0;
		transform: translateY(100%);
	}
	100% {
		opacity: 1;
		transform: translateY(0%);
	}
}

.expertimg {
	opacity: 0;
}
.expertimg.showexpertimg {
	animation: showexpertimg 1s forwards;
}
@keyframes showexpertimg {
	0% {
		opacity: 0;
		transform: translateY(100%);
	}
	100% {
		opacity: 1;
		transform: translateY(0%);
	}
}
.textoc.hidetextoc {
	animation: hidetextoc 1s forwards;
}
.textoc {
	padding-top: 20px !important	;
}
@keyframes hidetextoc {
	0% {
		opacity: 1;
		/*transform: translateY(0%);*/
	}
	100% {
		opacity: 0;
		/*transform: translateY(-100%);*/
	}
}
.oc1.hideoc1 {
	animation: hideoc1 1s forwards;
}
@keyframes hideoc1 {
	0% {
		opacity: 1;
		/*transform: translateY(0%);*/
	}
	100% {
		opacity: 0;
		/*transform: translateY(-100%);*/
	}
}



.oc2.hideoc2 {
	animation: hideoc2 1.5s forwards;
}
@keyframes hideoc2 {
	0% {
		opacity: 1;
		/*transform: translateY(0%);*/
	}
	100% {
		opacity: 0;
		/*transform: translateY(-100%);*/
	}
}
/*m*/
.expertimg {
	opacity: 0;
}
.expertimg.hideexpertimg {
	animation: hideexpertimg 1s forwards;
}
@keyframes hideexpertimg {
	0% {
		opacity: 1;
		/*transform: translateY(0%);*/
	}
	100% {
		opacity: 0;
		/*transform: translateY(-100%);*/
	}
}





/*works*/



.dillus {
	/*opacity: 0;*/
}
.dillus.showdillus {
	/*animation: showdillus 1s forwards;*/
}
@keyframes showdillus {
	0% {
		opacity: 0;
		transform: translateY(100%);
	}
	100% {
		opacity: 1;
		transform: translateY(0%);
	}
}


.dillusimgthumb {
	opacity: 0;
}
.dillusimgthumb.showdillusimgthumb {
	animation: showdillusimgthumb 1.5s forwards;
}
@keyframes showdillusimgthumb {
	0% {
		opacity: 0;
		transform: translateY(100%);
	}
	100% {
		opacity: 1;
		transform: translateY(0%);
	}
}
