/*.homeimg {
	background-image: url('img/pngportobw2.png');
	width: 100%;
	height: 100%;
}*/
body {
	/*background: #f8f9fa;*/
	/*background: red;*/
	overflow-x: hidden !important;
}
/*home jumbotron*/
.home {
	background: #DEE2E6;
}
.home .container .deskme h3 {
	font-size: 18px;
	margin-bottom: 20px;
	font-weight: bold;
}
.home .container .deskme h1 {
	line-height: 10px;
	font-weight: bolder;
}
.home .container .deskme p {
	font-weight: 400;
	margin-top: 40px !important;
}
.home .container .deskme .btncontact {
	background: #00A9A5 !important;
	border-radius: 30px;
	color: white;
	font-weight: bold;
}
.home .container .deskme .btncontact:hover {
	background: #0B5351 !important;
	border-radius: 30px;
	color: white;
	font-weight: bold;
}
.deskme {
	z-index: 3;
	margin-top: 35px;
	/*background: salmon;*/
}
.homeimg {
	height: 100%;
	/*width: 80%;*/
	/*background: grey;*/
	position: absolute;
	right: 0;
	overflow: hidden !important;
}
@media (max-width: 414px) {
	.homeimg {
		overflow: hidden !important;
		width: 400px;
		justify-content: flex-end;
		/*width: 50% !important;*/
		height: 80% !important;
	}
	.home {
		height: 80vh !important;
	}
}
@media (max-width: 767px) { 
	.homeimg img{
		width: 340px;
		transform: translate(30%);
	}
	.homeimg {
		overflow: hidden !important;
		width: 400px;
		justify-content: flex-end;
		/*width: 50% !important;*/
	}
	.navhome {
		display: none;
	}
	.deskme {
		/*width: 100% !important;*/
	}
	.aboutimg img {
		width: 320px;
	}
	.about .col-lg-12 {
		text-align: center;
	}
	.imgdesk img {
		display: none;
	}
	.aboutimg {
		display: flex;
		justify-content: center;
	}
	.expertimg {
		display: none;
	}
}

/*expert in*/
.expert {
	margin-top: 100px;
	margin-bottom: 100px !important;
}
.expert #title {
	text-align: center;
	font-weight: bolder;
	font-size: 28px;
}
.expertin .d-flex .deskbung {
	background: white;
	border-radius: 10px;
	overflow: hidden;
	box-shadow: 0px 0px 3px #000;
}
.expertin .d-flex .deskbung .desk {
	/*margin: 0 !important;*/
	/*padding: 0;*/
	padding: 20px !important;
}
.expertin .d-flex .deskbung .desk i {
	/*transform: scale(2.4);*/
	font-size: 40px;
	margin-bottom: 10px;
}
.expertin .d-flex .deskbung .desk h2 {
	font-weight: bold;
	font-size: 22px;
}

/*aboutme*/
.aboutMe {
	margin-top: 100px !important;
	margin-bottom: 100px !important;
}
.about h2 {
	font-weight: bold;
	text-align: center;
}

/*dillus(design illustration)*/

.dillus .navbardillus {
	align-items: center;
}
.dillus .navbardillus .illus,.dillus .navbardillus .flat{
	align-items: center;
	margin-left: 20px;
}
.dillus .navbardillus .illus:hover,.dillus .navbardillus .flat:hover, .dillus .navbardillus .arrow:hover {
	cursor: pointer;	
}

.dillus .navbardillus .arrow i{
	font-size: 25px;
}
.dillus .navbardillus .flat.active {
	background: #00A9A5;
	border-radius: 30px;
	width: 120px;
	height: 35px;
	justify-content: center;
	display: flex;
	align-items: center;
	font-weight: bold;
	color: white;
}
.dillus .navbardillus .flat.active:hover {
	background: #0B5351;
	border-radius: 30px;
	width: 120px;
	height: 35px;
	justify-content: center;
	display: flex;
	align-items: center;
	font-weight: bold;
	color: white;
}
.flats .fas {
	font-size: 28px;
	margin-right:  20px;
	margin-left:  20px;
}

.hide {
	display: none !important;
}
.show {
	display: flex !important;
}

/*skill*/

@supports(-webkit-backdrop-filter: none) or (backdrop-filter: none) {
	.skilshow {
		-webkit-backdrop-filter:  blur(5px);
		backdrop-filter: blur(5px);
		background: rgba(0, 0, 0, .0);
	}
}
.bungeximg {
	height: 100% !important;
	right: 0;
	display: flex !important;
	background: salmon !important;
	width: 100%;
	/*position: absolute;*/
	/*z-index: 999;*/
}
.expertimg {
	width: 100%;
	right: 0 !important;
	background: red;
}
.onecard .skilshow.showskil {
	opacity: 0;
	/*transform: translateY(-100%);*/
	z-index: -1;
	transition: 1s;
	animation: test 2s forwards;
	/*background: red;*/
		display: inline-block !important;
}
@keyframes test {
	0% {
		transform: translateX(-100%);
		opacity: 0;
		display: none;
	}
	100% {
		opacity: 1;
		transform: translateX(0%);
	}
}
.onecard .skilshow.hideskil {
	opacity: 1;
	/*transform: translateY(-100%);*/
	z-index: -1;
	transition: 1s;
	animation: hides 2s forwards;
	/*background: red;*/
	display: inline-block;
}
@keyframes hides {
	0% {
		transform: translateX(0%);
		opacity: 1;
	}
	100% {
		transform: translateX(-100%);
		opacity: 0;
		/*display: none !important;*/
	}
}



.onecard .skilshow.showskilV {
	opacity: 1;
	/*transform: translateY(-100%);*/
	z-index: -1;
	transition: 1s;
	animation: testV 2s forwards;
	/*background: red;*/
}
@keyframes testV {
	0% {
		opacity: 0;
		transform: translateY(-100%);
		/*display: none;*/
	}
	100% {
		/*display: inline-block;*/
		opacity: 1;
		transform: translateY(0%);
	}
}
.onecard .skilshow.hideskilV {
	opacity: 1;
	/*transform: translateY(-100%);*/
	z-index: -1;
	transition: 1s;
	animation: hidesV 2s forwards;
	/*background: red;*/
}
@keyframes hidesV {
	0% {
		transform: translateY(0%);
		opacity: 1;
		display: inline-block;
	}
	100% {
		transform: translateY(-100%);
		opacity: 0;
		/*display: none !important;*/
	}
}
@media (min-width: 992px) {
	.onecard .skilshow {
		transition: 1s;
		opacity: 1;
		/*display: none;*/
		z-index: -1;
		transform: translateX(-100%);
		width: 100%;
		/*animation: test1 2s forwards;*/
	}
	.onecard {
		display: flex !important;
	}
}
@media (max-width: 992px) {
	.skilshow.dnonemd {
		display: none;
	}
	.onecard {
		/*display: inline-block;*/
	}
	.onecard .skilshow {
		transition: 1s;
		opacity: 1;
		/*display: none;*/
		z-index: -1;
		/*transform: translateX(-60%);*/
		/*animation: test1 2s forwards;*/
	}
}
@media (max-width: 767px) {
	.skilshow {
		width: 75%;
	}
}

.onecard .skilshow.shows {
	/*display: flex;*/
	transform: translateY(0%);
	z-index: -1;
	transition: 1s;
}
.onecard .skilshow .deskbung {
	border-radius: 0;
}
.onecard .skilshow .skill{
	width: 100%;
	padding: 4px;
	border-radius: 10px;
}
.onecard .skilshow .skill.html{
	width: 95%;
	background: yellow;
}
.onecard .skilshow .skill.css{
	width: 85%;
	background: yellow;
}
.onecard .skilshow .skill.js{
	width: 78%;
	background: yellow;
}
.onecard .skilshow .skill.php{
	width: 87%;
	background: yellow;
}
.onecard .skilshow .cons p{
	line-height: 1px !important;
}
.onecard .skilshow  .deskbung .containers {
	width: 100% !important;
}
.onecard .skilshow .cons {
	margin-bottom: 10px;
	line-height: 15px;
	margin-top: 20px !important;
}
.onecard .skilshow .cons .text{
	display: flex;
	font-weight: bold;
	justify-content: space-between;
}

nav span {
	display: none;
}
.btnstogs {
	/*display: none !important;*/
	/*z-index: 999;*/
}
[id^=btnsx]:checked  + span{
	display: inline;
}